.contact_form {
  background-image: url(../images/contact.jpg);
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600px;
  text-emphasis-color: rgb(120, 6, 124);
}
.content {
  margin-top: 1%;
  text-align: center;
  color: rgb(12, 9, 9);
  padding: 10px;
}
.content p {
  font-size: 18px;
  padding-top: 1px;
}
.contact_form h1 {
  color: #96138b;
  padding: 10px;
  background-color: rgb(20, 16, 16);
  border-bottom: 1px solid rgb(20, 16, 16);
  font-weight: 600px;
  text-align: center;
}
.form-row {
  width: 100%;
}
.form {
  width: 100%;
}
.btn1 {
  width: 20%;
  float: left;
  background-color: #4caf50;
}
.btn2 {
  width: 20%;
  float: right;
  background-color: #e90505;
}
.footer {
  background-color: coral;
  padding-top: 10%;
  padding: 3%;
}
.footer p {
  background-color: coral;
}
.footer-img {
  float: right;
  width: 25px;
  height: 25px;
}
@import "http://fonts.googleapis.com/css?family=Raleway";

/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/
#pb-form {
  width: 100%;
  height: 100%;
  opacity: 0.95;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  overflow: auto;
}

img#close {
  position: absolute;
  right: -14px;
  top: -14px;
  cursor: pointer;
}

h2#close {
  cursor: pointer;
}

/* div#popupBooking {
    position: absolute;
    left: 50%;
    top: 17%;
    margin-left: -202px;
    font-family: 'Raleway', sans-serif
} */
.body {
  font-family: "Oxygen", sans-serif;
}

.logo {
  text-align: right;
  background-image: linear-gradient(to right, black, deeppink);
}

.logo img {
  width: 125px;
  height: 80px;
  float: left;
  padding-bottom: 10px;
}

.navbar {
  width: 50%;

  overflow: auto;
  float: right;
}

.navbar a {
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

/* .active {
    background-color:deeppink; */

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.menu {
  background-image: url("backgrounds/salon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1110px;
  height: 400px;
}

.head {
  background: transparent;
  text-align: center;
  color: deeppink;
  font-weight: bold;
  position: absolute;
  padding-right: 100px;
  padding-top: 180px;
  padding-left: 300px;
  font-size: 110px;
  text-transform: uppercase;
  text-shadow: dimgray;
}

.about img {
  float: left;
  height: 250px;
}

#form1 {
  max-width: 300px;
  min-width: 250px;
  padding: 10px 50px;
  border: 2px solid gray;
  border-radius: 10px;
  font-family: raleway;
  background-image: url(/images/salon2.jpeg);
  background-size: cover;
  background-blend-mode: darken;
}

#label {
  font-style: italic;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  margin-top: 30px;
}

h2 {
  background-color: #050500;
  padding: 20px 35px;
  margin: -10px -50px;
  text-align: center;
  color: #e93479;
  border-radius: 10px 10px 0 0;
}

hr {
  margin: 10px -50px;
  border: 0;
  border-top: 1px solid #ccc;
}

input[type="text"] {
  width: 82%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  padding-left: 40px;
  font-size: 16px;
  font-family: raleway;
}

#submit {
  text-decoration: none;
  width: 100%;
  text-align: center;
  display: block;
  background-color: #e93479;
  color: #fff;
  border: 1px solid #e93479;
  padding: 10px 0;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

span {
  color: red;
  font-weight: 700;
}

button {
  text-decoration: none;
  width: 30%;
  text-align: center;
  display: block;
  background-color: #e93479;
  color: #fff;
  border: 1px solid #e93479;
  padding: 10px 0;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.about {
  text-align: center;
  background-image: linear-gradient(to bottom, black, deeppink);
  color: white;
}

#testimonials {
  background-image: url("backgrounds/Hair-Salon.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 1000px;
  height: 400px;
}

.tstmns {
  background-image: transparent;
  color: deeppink;
  padding-top: 50px;
}

.d-block{
    color:deeppink;
    font-size:23px;
}

.carousel-item small{
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    color: white;

}

@import url("https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|Gabriela|Unkempt&display=swap");

html {
  scroll-behavior: smooth;
}

.landing {
  background-image: url("../images/backgrounds/h_img.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding-top: 17%;
  font-family: "Gabriela", serif;
  /* padding-bottom:5%; */
}

.landing h1 {
  padding: 2px;
  margin: 5px;
}

.landing p {
  padding: 2px;
}

#logo {
  margin-top: 12px;
  margin-bottom: 24px;
  width: 70px;
  height: 70px;
}

#mouse-click {
  padding-top: 22px;
  margin-top: 10%;
  padding-bottom: 30px;
  /* animation-iteration-count: infinite; */
}

#mouse-click {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-55px);
  }

  60% {
    transform: translateY(-45px);
  }
}

.about {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 40px;
  font-family: "Copse", serif;
}

#about {
  font-family: "Gabriela", serif;
}

.services {
  text-align: center;
  background-image: url("../images/backgrounds/s_image.jpg");
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Copse", serif;
  font-size: 18px;
}

.services h2 {
  font-family: "Gabriela", serif;
}

#servicesoverlay {
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 10%;
  padding-bottom: 10%;
}

.our-services {
  font-family: "Quattrocento", serif;
  text-align: center;
  padding-top: 40px;
  font-family: "Gabriela", serif;
}

.our-services .headings {
  padding-bottom: 38px;
}

#portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 18%;
  margin-right: 16%;
}

.col-md-3 img {
  max-width: 100%;
  max-height: 100%;
}

.portfolio h2 {
  text-align: center;
  padding-top: 40px;
  font-family: "Gabriela", serif;
}

.contact {
  background-image: url("../images/backgrounds/c_image.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}

.title {
  padding: 6px;
}

.contact h2 {
  text-align: center;
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: "Gabriela", serif;
}

input[type="text"],
input[type="email"],
#comment {
  background: transparent;
  color: white;
  font-size: 20px;
  font-family: "Copse", serif;
}

.form-control::-webkit-input-placeholder {
  color: white;
}

#MERGE1 {
  width: 30%;
  margin-left: 18%;
  margin-right: 30px;
}

#MERGE0 {
  width: 30%;
}

#comment {
  margin-left: 20%;
  width: 60%;
}

button {
  margin-left: 20%;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding-top: 30px;
  font-family: "Delius Swash Caps", cursive;
}

footer p {
  margin-top: 10px;
}

#spa,
#haircare,
#barber {
  display: none;
  font-family: "Copse", serif;
  font-size: 16px;
}

#spa .title,
#haircare .title,
#barber .title {
  font-size: 20px;
  font-weight: 600;
}

#overlay,
#overlay2,
#overlay3,
#overlay4,
#overlay5,
#overlay6,
#overlay7,
#overlay8 {
  display: none;
  color: black;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.456);
  position: absolute;
  top: 20px;
  left: 35px;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  padding-top: 50%;
  font-family: "Delius Swash Caps", cursive;
}

@media only screen and (max-width: 755px) {
  #overlay,
  #overlay2,
  #overlay3,
  #overlay4,
  #overlay5,
  #overlay6,
  #overlay7,
  #overlay8 {
    width: 100%;
    height: 100%;
    top: 20px;
    left: 16px;
    padding-top: 20%;
    /* font-size: 16px; */
  }

  .col-md-3 img {
    width: 100%px;
    margin: 20px;
  }

  #portfolio {
    margin-left: 8%;
    margin-right: 16%;
  }

  button {
    margin-left: 2%;
    padding-bottom: 30px;
    margin-bottom: 20px;
    /* margin-left: 10px; */
    /* margin-right: -20%; */
  }
}

@media only screen and (max-width: 425px) {
  #overlay,
  #overlay2,
  #overlay3,
  #overlay4,
  #overlay5,
  #overlay6,
  #overlay7,
  #overlay8 {
    width: 100%;
    height: 100%;
    top: 20px;
    left: 16px;
    padding-top: 20%;
    font-size: 20px;
  }

  .col-md-3 img {
    width: 100%px;
    margin: 20px;
  }

  #portfolio {
    margin-left: 8%;
    margin-right: 16%;
  }

  button {
    padding-bottom: 30px;
    margin-bottom: 20px;
  }

  #MERGE0 {
    width: 84%;
    margin-left: 4%;
    padding-bottom: 10px;
  }

  #MERGE1 {
    width: 100%;
    margin-left: 4%;
    margin-bottom: 20px;
  }

  #comment {
    margin-left: 4%;
    width: 84%;
  }
}

@media only screen and (min-width: 825px) {
  #overlay,
  #overlay2,
  #overlay3,
  #overlay4,
  #overlay5,
  #overlay6,
  #overlay7,
  #overlay8 {
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    padding-top: 30%;
  }

  .col-md-3 img {
    width: 400px;
    margin: 20px;
  }

  #portfolio {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (min-width: 625px) {
  #overlay,
  #overlay2,
  #overlay3,
  #overlay4,
  #overlay5,
  #overlay6,
  #overlay7,
  #overlay8 {
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    padding-top: 20%;
    font-size: 26px;
  }

  .col-md-3 img {
    width: 400px;
    margin: 20px;
  }

  #portfolio {
    margin-left: 6%;
    margin-right: 10%;
  }
}
